/* ----------------- стили для офлайн ----------------- */
body {
    padding:0;
    margin:0;
}
body > .em_AROUND{
    max-width:840px;
    margin:0 auto;
}
/* ----------------- стили для офлайн ----------------- */
